#about {
  margin: 0 30px !important;

  #about-text-description {
    margin-left: 50px;
  }

  .img-about {
    box-shadow: 15px 15px 0px 0px #bb2a26;
    max-height: 513px;
  }

  .guillemet {
    color: $danger;
    font-family: Catamaran;
    font-weight: 700;
    font-size: 50px;
  }
}

@media screen and (min-width: 801px) {
  #about {
    margin-top: 8rem !important;

    .grey-text {
      text-indent: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  #about {
    #about-text-description {
      margin-left: 0px;
    }
    margin-top: 6rem;

    .guillemet {
      font-size: 30px;
      line-height: 1rem;
    }
  }
}
