#about {
  margin: 0 auto;

  .img-about {
    box-shadow: 15px 15px 0px 0px #bb2a26;
    height: fit-content;
  }

  .guillemet {
    color: $danger;
    font-family: Catamaran;
    font-weight: 700;
    font-size: 50px;
  }
}

@media screen and (min-width: 801px) {
  #about {
    margin-top: 8rem !important;

    .grey-text {
      text-indent: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  #about {
    margin-top: 6rem;

    .img-about {
      width: 250px;
    }
    .guillemet {
      font-size: 30px;
      line-height: 1rem;
    }
  }
}

@media screen and (min-width: 992px) {
  #about {
    height: calc(100vh - 293px) !important;
  }
}
