#contact {
  margin: 0 auto;
  height: calc(100vh - 290px);

  .contact-content {
    margin-left: 20px;

    p {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 801px) {
  #contact {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 801px) {
  .contact_logo {
    margin-top: 3rem;
  }
}
