#coworkspace {
  margin: 0 auto;

  .content-with-space {
    margin: 100px auto;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  .coworkspace_images {
  }

  .description-coworkspace {
    padding-left: 20px;
  }
}


@media screen and (max-width: 800px) {
  #coworkspace {
    .coworkspace_images {
      width: 200px !important;
    }
  }
}
