#portfolio {
  margin: 0 auto !important;
  padding-right: 0 !important;
  width: 100%;
}

.wiiz-image {
  border: 7px solid lightgray;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  #portfolio {
    .clickable {
      text-align: center;
    }
  }
}
