<div id="coworkspace" class="">
  <h1 >COWORKSPACE</h1>
  <div class="coworkspace-details ml-0">
    <div class="d-flex justify-content-between row mt-1 mb-4 align-items-center coworkspace-intro">
      <%= image_tag "all_coworkspace.svg", class: "coworkspace_images col-12 col-lg-8", width: 700 %>
      <p class="description-coworkspace col-12 col-lg-4">Le projet Coworkspace a été élu et codé en équipe, lors des deux dernières semaines du Wagon. <br>
      <br>
       Le projet a fait l’objet d’un demoday à la fin des 9 semaines du Bootcamp.</p>
    </div>


        <h3 class="developed-features little-text-space mt-5">Main Features Developed</h3>
        <ul class="ml-4">
          <li>A simplified reservation system</li>
          <li>Online direct payment with Stripe</li>
          <li>History of reservations</li>
          <li>A dashboard for coworkspace manager </li>
        </ul>

        <div class="d-flex justify-content-end">
          <div class="justify-content-end mt-5 little-text-space">
            <h3>Roles</h3>
            <p>Everybody in the group worked on back and front developpement. I mainly take care about the design of the home page, the paiement process, the result page and the description of the coworkspace.</p>
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <div class="mt-5 little-text-space toto ">
            <h3>Mains Difficulties</h3>
              <h5 class="ml-3">Organizational </h5>
                <p class="ml-5">We used Trello to organize the work between the team members. The communication with the team is very important. </p>
              <h5 class="ml-3">Technical</h5>
                <p class="ml-5"> The main difficulty was to organize work between the skills of eachother. Be focus on the user case presented the evening of the demonstration day. </p>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <div class="mt-5 little-text-space">
            <h3>Skills and knowledge developed</h3>
              <p>I was lucky that my project was selected. So I could see the creation from its idea to its development and presentation.
              Today I am able to have a global vision of a product. From its database to its development and production. </p>
          </div>
        </div>
  </div>
</div>
