<div id="coworkspace" class="">
  <h2 >COWORKSPACE</h2>
  <div class="">
    <div class="d-flex justify-content-between row mt-3 align-items-center content-with-space">
      <%= image_tag "all_coworkspace.svg", class: "coworkspace_images col-12 col-lg-8", width: 700 %>
      <p class="description-coworkspace col-12 col-lg-4">Le projet Coworkspace a été élu et codé en équipe, lors des deux dernières semaines du Wagon. <br>
      <br>
       Le projet a fait l’objet d’un demoday à la fin des 9 semaines du Bootcamp.</p>
    </div>

    <div class="content-with-space">
      <h3 class="">Main Features Developed</h3>
      <ul>
        <li>A simplified reservation system</li>
        <li>Online direct payment</li>
        <li>History of reservations</li>
      </ul>
    </div>
  </div>
</div>
