<div id="coworkspace" class="">
  <h1 >COWORKSPACE</h1>
  <div class="coworkspace-details ml-0">
    <div class="d-flex justify-content-between row mt-1 mb-4 align-items-center coworkspace-intro">
      <%= image_tag "all_coworkspace.svg", class: "coworkspace_images col-12 col-lg-8", width: 700 %>
      <p class="description-coworkspace col-12 col-lg-4">Le projet Coworkspace a été élu et codé en équipe, lors des deux dernières semaines du Wagon. <br>
      <br>
       Le projet a fait l’objet d’un demoday à la fin des 9 semaines du Bootcamp.</p>
    </div>

      <h3 class="developed-features">Main Features Developed</h3>
      <ul class="ml-5">
        <li>A simplified reservation system</li>
        <li>Online direct payment</li>
        <li>History of reservations</li>
      </ul>
  </div>
</div>
