<div id="coworkspace">
  <h2>COWORKSPACE</h2>
  <div class="d-flex">
    <%= image_tag "all_coworkspace.svg", class: "coworkspace_images mt-3" %>
    <p class="description-coworkspace">Le projet Coworkspace a été élu et codé en équipe lors des deux dernières semaines du Wagon. Le projet devait faire l’objet d’un demoday à la fin du Bootcamp du Wagon.</p>
  </div>
  <ul>
    <li>A simplified reservation system</li>
    <li>Online direct payment</li>
    <li>History of reservations</li>
  </ul>
</div>
