<h1>MARCELLE MOBI</h1>
<div class="ml-0">
  <div class="d-flex justify-content-between row mt-1 mb-4 align-items-center coworkspace-intro">
    <%= image_tag "marcelle-mobi.png", class: "coworkspace_images col-12 col-lg-8", width: 700 %>
    <p class="description-coworkspace col-12 col-lg-4 font-20">
      This project was initiated by the association <span><a class="link-red" href="https://code4marseille.fr/" target="_blank">code4marseille</a></span> and the city of Marseille.
      <br>
      <br>
      We had 3 weeks and a team of 6 developers to develop this application
      <br>
      <br>
      It was used as a support during a 2-day hackathon, where the participants had to develop new functionalities.
    </p>
  </div>

  <h3 class="developed-features little-text-space mt-5">Main Features Developed</h3>
  <ul class="ml-4">
    <li>A map in real time (location of electric scooters, rental car and bike terminals)</li>
    <li>A map with car parks, recharging station and car-sharing area</li>
    <li>An assistant who shows you the transport possibilities (except the car) to get from A to B</li>
    <li>A blog with articles about soft mobility and the possibility to add your own article</li>
  </ul>

  <div class="little-text-space d-flex justify-content-end my-5">
    <div class="justify-content-end">
      <h3>Roles</h3>
      <ul class="ml-4">
        <li>Researching weather and air quality data for use in the <br>
          establishment of APIs. Coding of the air quality api with axios.</li>
        <li>Pair programming with a back end developper to implement <br>
          the daily advice weather and air quality.</li>
        <li>I prototyped new pages with the Figma Software and then <br>
          integrate them. I design of the 2 mains characters.</li>
      </ul>
    </div>
  </div>

  <div class="my-5 d-flex justify-content-start col-sm-12">
    <div class="little-text-space">
      <h3>Skills and knowledge developed</h3>
      <p>I learned a new framework Vue.js and its libraries. <br>
        It was a challenging experience to work with new experimented developpers.</p>
    </div>
  </div>

  <div class="text-center mb-3">
    <a class="link-red" href="https://www.marcelle.mobi/">Marcelle Mobi </a>
    <p>We don't have anymore access to all the data given for the event, so some part of the app may be broken</p>
  </div>
</div>