<h1>REACT RECIPES</h1>
<div class="ml-0">
  <div class="d-flex justify-content-between row mt-1 mb-4 align-items-center coworkspace-intro">
    <%= image_tag "reactRecipe6.png", class: "wiiz-image col-12 col-lg-8", width: 700 %>
    <p class="description-coworkspace col-12 col-lg-4 font-20">
      Putting React into practice through a concrete example: a kitchen recipe management application
      <br>
      <br>
      The backend (API) part was already done, I coded the front-end part using the API provided. 
      <br>
      <br>
      <span><a class="link-red my-4" href="https://github.com/paulinedussart/react-recipes" target="_blank"><i class="fab fa-github-alt mr-2"></i>Github project</a></span>
    </p>
  </div>

  <h3 class="developed-features little-text-space mt-5">Main Features Developed</h3>
  <ul class="ml-4">
    <li>Ingredients (CRUD), Recipes (CRUD)</li>
    <li>Authentification système with cookies <i class="fas fa-cookie"></i> and API (Node.js part already provided) </li>
		<li>Front End part of the App</li>

  </ul>

  <div class="little-text-space d-flex justify-content-end my-5">
    <div class="justify-content-end col-12 col-lg-6">
        <h3>Skills and knowledge developed</h3>
      <ul class="ml-4">
			<li>Fetch API to display data</li>
			<li>Organize my app into distinct components before the creation</li>
      <li>Think about the role of my components, which must bring down or<br>
			up the infor
      </ul>
    </div>
  </div>

	<div class="row d-flex justify-content-start my-4">
 		<%= image_tag "reactRecipe4.png", class: "wiiz-image col-12 col-lg-8"%>
	</div>
	<div class="row d-flex justify-content-end my-4">
 		<%= image_tag "reactRecipe7.png", class: "wiiz-image col-12 col-lg-8"%>
	</div>
	<div class="row d-flex justify-content-start my-4">
 		<%= image_tag "reactRecipe5.png", class: "wiiz-image col-12 col-lg-8"%>
	</div>

  <div class="text-center mb-3">
    <span><a class="link-red my-4" href="https://github.com/paulinedussart/react-recipes" target="_blank"><i class="fab fa-github-alt mr-2"></i>Github project</a></span>
  </div>
</div>