<h1>SMART PROPOSAL</h1>
<div class="ml-0">
  <div class="d-flex justify-content-between row mt-1 mb-4 align-items-center coworkspace-intro">
    <%= image_tag "portfolio-smart-proposal.png", class: "wiiz-image col-12 col-lg-8", width: 700 %>
    <p class="description-coworkspace col-12 col-lg-4 font-20">
      I worked for a B2B service companies.
      <br>
      <br>
      The Saas app is a turnkey sales solution for managing business, costing, and editing sales proposals.
      <br>
      <br>
      We were 2 developpers in this team, a back-end and a front-end.
      <br>
      <br>
      <a class="link-red" href="https://www.smartproposal.io/"><i class="fas fa-globe mr-2"></i>SmartProposal.io </a>
    </p>
  </div>

  <h3 class="developed-features little-text-space mt-5">Main Features Developed</h3>
  <ul class="ml-4">
    <li>All the front-end part for the creation/edition of a business opportunity</li>
    <li>Client (CRUD), contact (CRUD) and administrator front-end part.</li>
  </ul>

  <div class="little-text-space d-flex justify-content-end my-5">
    <div class="justify-content-end">
      <h3>Roles</h3>
      <ul class="ml-4">
        <li>Find the best way to integrate the mock-ups in accordance with <br>
          the CEO and UX practices.</li>
        <li>Front-end job of the app</li>
      </ul>
    </div>
  </div>

  <div class="my-5 d-flex justify-content-start col-sm-12">
    <div class="little-text-space">
      <h3>Skills and knowledge developed</h3>
      <p>I learned to code autonomously because I was the only <br>
        front-end developer of the project and work with a remote <br>
        team because I joined the project during the quarantine time in march. </p>
    </div>
  </div>

  <div class="little-text-space d-flex justify-content-end my-5">
    <div class="justify-content-end">
      <h3>Mains Difficulties</h3>
      <h5 class="ml-3">Organizational </h5>
      <p class="ml-5">There was a freelance lead developper but he <br>
        wasn't very present to guide me in the front-end part. <br>
        I was therefor very autonomous, which can be <br>
        great and positive but I would have liked a little <br>
        more technical advice to progress further.</p>
      <h5 class="ml-3">Technical</h5>
      <p class="ml-5"> The app was coded with the Ruby on Rails Framework <br>
        but as the project progressed we were using a lot of AJAX <br>
        and Stimulus because everything had to be reactive. <br>
        I think the use of a javascript framework such as React <br>
        or Vue would have been a wise choice. It's very important<br>
        to choose the technical stack according to the project<br>
        specifications.
    </div>
  </div>

  <div class="text-center mb-3">
    <a class="link-red" href="https://www.smartproposal.io/"><i class="fas fa-globe mr-2"></i>SmartProposal.io </a>
  </div>
</div>