<div id="about" class="row">
  <%= image_tag "profil_picture.png", class:"img-about col-md-12 col-lg-6 p-0" %>
  <div class="col-md-12 col-lg-6 p-0">
    <div class="mt-5">
      <h2><span class=" guillemet guillemet_one">“ </span>Planet caring, Geopolitic and Coding ...<span class=" guillemet guillemet-two"> "</span></h2>
      <p class="grey-text mt-3">
        I live in the <span>French Alps</span>. I love all the sports activities related to the mountains such as climbing, trail running,
        cycling.
        My living environment is incredible and the mountains are my daily playground.
        It is for this reason and so many others that I wish above all to find a job in <span>remote work</span>.
      </p>
      <p class="grey-text mt-3">
        In 2019, after few years spent in Tourism, I decided to learn to code, and I choose <span>Le Wagon Bootcamp</span>.
        In 9 weeks we learnt so many things about web development (from design, and database to deploy and production).
        I found myself <span>passionate about creating </span>and bring to life great products.
      </p>
    </div>
  </div>
</div>