<div id="about" class="row d-flex justify-content-between">
  <div>
    <div class="background-red">  <%= image_tag "profil_picture.png", width: 350, class: "photo-profil" %></div>

  </div>
  <div>

    <div>
      <h3></h3>
      <p></p>
    </div>
    <div class="d-flex">
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
</div>
