<div id="about" class=" row d-flex justify-content-between col-12 col-mg-6">
  <div class="background-red">  <%= image_tag "profil_picture.png", width: 350, class: "photo-profil" %>
  </div>
  <div>
    <div class="about-content">
      <h2 class="about-title"><span class=" guillemet guillemet_one">“ </span>Surf, Mountains and Code addict ...<span class=" guillemet guillemet-two"> "</span></h2>
      <p class="about-text-content grey-text">
        In 2019, after few years spent in Tourism, I decided  to learn to code, and I choose <span>Le Wagon Bootcamp</span>. In 9 weeks we learnt so many things about web development (from design, and database to deploy and production). I found myself <span>passionate about creating </span>and bring to life great products. </p>
        <p class="about-text-content grey-text">
          I felt in love with <span>Front-End & Javascript</span>. Now <span>I don't want to stop learning</span>, I want to continue practise and develop my skills around development.
        </p>
    </div>
    <div class="d-flex">
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
</div>
