<div id="contact" class=" row col-12 col-mg-6 d-flex justify-content-between">
  <div class="mt-3">
    <h2>Hello, let’s talk</h2>
    <div class="contact-content">
      <p class="my-3"> <span style="{color: --red !important;}">—</span>
      Interested in working with me? <br>I would be happy to discuss it with you. </p>
    </div>
    <a href="mailto:paulinedussart04@gmail.com" class="button-send-email">Send me an email <i class="fas fa-chevron-right ml-3"></i></a>
  </div>
    <%= image_tag "contact.svg", width: 650, class: "contact_logo"%>
</div>
