<div id="home">
  <div class="container" >
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-lg-6 mt-4 presentation">
        <h1>Hello, I'm <br>Pauline Dussart.</h1>
        <p>I’m a <span>French Front-End Developper</span>  and <span>Web Designer</span> currently working as Freelance. I learn to code in 2019 at <a href="https://www.lewagon.com/fr"><span>Le Wagon</span></a> and I felt in love with front-end development and javascript. </p>
        <button class="btn downloadCV">Download my CV</button>
      </div>

      <div class="col-12 col-lg-6">
        <div><h1>Hello, I'm Pauline Dussart.</h1>
        <p>I’m a French Front-End developper and Web Designer currently working as Freelance. I ‘m a currious mind, who loves learning about new fields and new tech. I take this opportunity to share what I learn on my website. </p>
    </div>
      </div>

    </div>
  </div>

</div>
