.articles-index {
  p {
    margin-bottom: 0;
    width: 600px;
    margin: 0 auto;
  }

  .title {
    font-size: 34px;
    color: #ffe75e;
    margin: 15px auto;
  }

  .description {
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 20px;
  }
  .border-bottom {
    border: pink;
  }
}
