#home .presentation .downloadCV {
  border: 1px solid $white;
  border-radius: 5px;
  font-size: 14px;
}


#contact {
  a {
    text-decoration: none;
    width: 200px;
    background-color: $grey-dark;
    border-radius: 50px;
    padding: 7px 25px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 3rem auto 0 auto !important;
    display: block;
  }

  /* mouse over link */
  a:hover {
    background-color: $danger;
  }

  /* selected link */
  a:active {
    background-color: $danger;
  }
}
