#cards-project {

  .disable {
    h4, h5, h6, p {
      color: rgba(255, 255, 255, 0.17) !important;
    }
    opacity: 0.2 !important;
  }

  .card-project {
    background-color: $grey-dark;
    border-radius: 5px;
    padding: 15px;
    width: 13rem !important;
    min-height: 18rem !important;
    margin: 5px;
    transition: all 100ms ease-in;
    position: relative;


    &:hover {
      cursor:pointer;
      transform: scale(1.1);
    }

    .card-body-project {

      h5 {
        font-size: 13px;
        letter-spacing: 0.03em;
        margin-bottom: 0;
      }

      h6 {
        font-size: 14px;
        font-weight: normal;
        color: $light-gray;
        margin-bottom: 0;
      }

      .logo_code {
        width: 30px !important;
      }

      .logos-project {
        position: absolute !important;
          right: 13px !important;
          bottom: 17px !important;
      }

    }
  }
}


