#cards-project {
  @media screen and (min-width: 800px) {
    .disable {
      h4,
      h5,
      h6,
      p {
        color: rgba(255, 255, 255, 0.17) !important;
      }
      opacity: 0.2 !important;
    }
  }

  #first-card {
    margin-top: 6rem;
  }

  .card-project {
    background-color: $grey-dark;
    border-radius: 5px;
    padding: 25px;
    width: 255px;
    min-height: 350px;
    margin: 5px;
    transition: all 200ms ease-in;
    position: relative;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    .card-body-project {
      h5 {
        font-size: 13px;
        letter-spacing: 0.03em;
        margin-bottom: 3px;
      }

      h6 {
        font-size: 14px;
        font-weight: normal;
        color: $light-gray;
        margin-bottom: 3px;
      }

      .logo_code {
        width: 30px !important;
      }
      #logo_figma {
        width: 20px !important;
        height: 30px !important;
      }

      .logos-project {
        position: absolute !important;
        right: 13px !important;
        bottom: 17px !important;
      }
    }
  }
}

// ____ CARD PORTFOLIO ______
.card-body-portfolio {
  transition: 0.8s;

  &:hover {
    transform: scale(1.09);
    transition: 0.5s;

    .card-link {
      color: #bb0000 !important;
      text-decoration: none;
    }
  }

  .card-portfolio {
    h5 {
      font-size: 16px;
    }

    p {
      font-size: 25px;
      font-weight: 300;
      line-height: 30px;
    }

    a {
      text-decoration: underline;
      color: $white;
      font-size: 22px;
      font-weight: 500;
      transition: 0.3s;
    }

    a:hover,
    a:active {
      text-decoration: none;
      font-weight: 400;
      transform: scale(-1);
    }
  }
}

#portfolio-wiiz {
  margin-bottom: 70px;
}

// _________________________

@media screen and (max-width: 800px) {
  #cards-project {
    #first-card {
      margin-top: 2rem !important;
    }
  }

  .card-project {
    width: 255px !important;
    min-height: 320px !important;
    margin-bottom: 20px !important;
  }
}
