// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, figure, figcaption, footer, header, hgroup,
// menu, nav, output, section, time {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     vertical-align: baseline;
// }

.container {
  margin: 100px auto 0 auto !important ;
  background-color: 101010 !important;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
  }


  ul {
    margin-bottom: 0px;
    padding-left: 0px;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-indent: 2px;
  }

  .grey-text {
    font-size: 15px;
    letter-spacing: 0.01em;
    color: $warning;
    line-height: 20px;
  }

  .grey-text span {
    text-decoration: underline;
    color: $white;
  }

  // animation du content apparition fade
  #content {
    margin: 0 auto;

    -webkit-animation: fade 5s; /* Safari 4+ */
    -moz-animation:    fade 5s; /* Fx 5+ */
    -o-animation:      fade 5s; /* Opera 12+ */
    animation-name:         fade 5s; /* IE 10+, Fx 29+ */
    animation-duration: 1s;
    transition: all 1s ease-out;
  }

  .clickable {
    cursor: pointer;
  }

  @-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
}


