// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  margin-top: 100px;
  background-color: 101010 !important;

  ul {
    margin-bottom: 0px;
    padding-left: 0px;
  }

  // animation du content apparition fade
  #content {
  -webkit-animation: fade 5s; /* Safari 4+ */
  -moz-animation:    fade 5s; /* Fx 5+ */
  -o-animation:      fade 5s; /* Opera 12+ */
  animation-name:         fade 5s; /* IE 10+, Fx 29+ */
  animation-duration: 1s;
  transition: all 1s ease-out;
  }

  @-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }


  #home .presentation h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
  }

  #home .presentation p span {
    text-decoration: underline;
    color: white;
  }

  #home .presentation p {
    font-size: 15px;
    letter-spacing: 0.02em;
    color: grey;
    line-height: 20px;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-indent: 2px;
  }
}

